language: python
python:
  - "3.7"

services:
  - docker

before_script:
  - pip install -U pip
  - pip install pre-commit
  - docker create -it --name tmp lvconnolly/mychef_model:v1 bash
  - docker cp tmp:/ingredients_v1.tar.gz ./api/app/services/models/ingredient/version
  - docker rm -f tmp
  - docker volume prune -f
  - docker-compose pull api
  - docker-compose up -d api

script:
  - pre-commit run --all-files
  - docker-compose exec api pytest tests
  - docker-compose down -v
