version: "3.7"

services:
  db:
    image: postgres:12.1-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-mychef}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-mychef}
      - POSTGRES_DB=${POSTGRES_DB:-mychef_db}
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  search:
    image: getmeili/meilisearch:v0.16.0
    ports:
      - 7700:7700
    volumes:
      - ./backend/search/data.ms:/data.ms

  api:
    build: backend/api
    image: lvconnolly/mychef_api:dev
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-mychef}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-mychef}
      - POSTGRES_HOST=${POSTGRES_HOST:-db}
      - POSTGRES_DB=${POSTGRES_DB:-mychef_db}
      - MEILI_HOST=search
    ports:
      - 8000:8000
    volumes:
      - ./backend/api/:/opt/mychef
      - venv:/app/.venv
    depends_on:
      - db
      - search

  proxy:
    build: proxy
    image: lvconnolly/mychef_proxy:dev
    restart: always
    volumes:
      - ./frontend/dist:/usr/share/nginx/html
    ports:
      - 80:80
    depends_on:
      - api
      - search

  scraper:
    build: backend/scraper
    image: lvconnolly/mychef_scraper:dev
    command: crawl full_helping
    depends_on:
      - api

volumes:
  postgres_data:
  venv:
