attrs==19.3.0
Automat==20.2.0
blis==0.4.1
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cymem==2.0.3
demjson==2.2.4
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
lxml==4.5.0
murmurhash==1.0.2
numpy==1.18.2
parsel==1.5.2
plac==1.1.3
preshed==3.0.2
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
queuelib==1.5.0
requests==2.23.0
Scrapy==2.0.1
scrapyrt==0.11.0
service-identity==18.1.0
six==1.14.0
spacy==2.2.4
srsly==1.0.2
thinc==7.4.0
tqdm==4.43.0
Twisted==20.3.0
urllib3==1.25.8
w3lib==1.21.0
wasabi==0.6.0
zope.interface==5.0.1
