aiohttp==3.6.2
async-timeout==3.0.1
asyncpg==0.20.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
databases==0.2.6
entrypoints==0.3
fastapi==0.47.1
flake8==3.7.9
greenlet==0.4.15
h11==0.9.0
httptools==0.0.13
idna==2.8
mccabe==0.6.1
more-itertools==8.2.0
msgpack==1.0.0
multidict==4.7.5
neovim==0.3.1
orm==0.1.5
packaging==20.1
pluggy==0.13.1
psycopg2-binary==2.8.4
py==1.8.1
pycodestyle==2.5.0
pydantic==1.4
pyflakes==2.1.1
pynvim==0.4.1
pyparsing==2.4.6
pytest==5.3.5
pytest-asyncio==0.10.0
requests==2.22.0
six==1.14.0
SQLAlchemy==1.3.13
starlette==0.12.9
typesystem==0.2.4
urllib3==1.25.8
uvicorn==0.11.2
uvloop==0.14.0
wcwidth==0.1.8
websockets==8.1
yarl==1.4.2
